body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px;
    background-color: rgb(81, 117, 156);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.logo {
    height: 50px;
    width: auto;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

.link {
    list-style: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(175, 198, 222);
    padding: 70px;
    justify-content: center;
    gap: 100px;
}

.titlePicture {
    height: 150px;
    width: auto;
}

.title {
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}

.titleDescription {
    font-size: 12px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleBoxLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.titleButton {
    background-color: rgb(27, 48, 70);
    color: white;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 56, 78);
    color: rgb(166, 192, 211);
    padding: 70px;
    padding-top: 50px;
}

.islands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.infoTitle {
    text-align: center;
    font-size: 27px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.bigIsland, .maui, .oahu, .kauai {
    height: 100px;
    width: auto;
    border: 5px solid;
    border-color: rgb(166, 192, 211);
}

.oneIsland {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-shrink: 0;
}